.link a {
	color: inherit !important;
}

/**
 * Helpers
 */
.flex {
	display: flex;
}

.flex-grow {
	flex-grow: 1;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-underline {
	text-decoration: underline;
}

.full-width {
	width: 100%;
}

.mb-0 {
	margin-bottom: 0;
}

.mt-0 {
	margin-top: 0;
}
