body {
	background-color: #f9fafc !important;
}

/**
 * Make Geist's Link play well with Next's Link.
 */
.link a {
	color: inherit !important;
}

/**
 * Override Geist's default values.
 */
button {
	text-transform: none !important;
}

/**
 * Helpers
 */

.container {
	margin-bottom: 5rem;
	margin-top: 5rem;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.flex {
	display: flex;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.full-width {
	width: 100% !important;
}

.m-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.mt-0 {
	margin-top: 0;
}

.green {
	color: green !important;
}