.container {
	border-bottom: solid 1px #eaeaea;
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 80px;
	margin-left: 64px;
	margin-right: 64px;
}

.dashboard {
	color: #3a3a3a !important;
}

.dropdown {
	margin-left: 16px;
}

.filler {
	flex-grow: 1;
}

.language {
	background-color: transparent !important;
	border: none !important;
	min-width: 0 !important;
}

.link {
	color: inherit !important;
	margin-left: 16px;
	margin-right: 16px;
}

.reacher {
	margin-bottom: 0;
	margin-left: 16px;
}
