.container {
	border-bottom: solid 1px #eaeaea;
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 80px;
	margin-left: 64px;
	margin-right: 64px;
}

.dropdown {
	margin-left: 24px;
}

.filler {
	flex-grow: 1;
}

.link {
	margin-left: 16px;
	margin-right: 16px;
}

.reacher {
	margin-left: 16px;
}
